hotkey-overlay {
    skip-at-startup
}

include "tools/paths.kdl"

// ============================================================================
// INPUT
// ============================================================================

include "config/input.kdl"

// ============================================================================
// AESTHETICS
// ============================================================================

include "config/aesthetics.kdl"

// ============================================================================
// ANIMATIONS
// ============================================================================

include "config/animation/bouncyII.kdl"

// ============================================================================
// ENVIRONMENT
// ============================================================================

include "config/environment.kdl"

// ============================================================================
// STARTUP
// ============================================================================

include "config/startup.kdl"

// ============================================================================
// KEYBINDINGS
// ============================================================================

include "config/binds.kdl"

// ============================================================================
// MONITORS
// ============================================================================

include "config/monitors.kdl"
